*{
    margin: 0;
    padding: 0;
    /* width: 100%; */
}
ul {
list-style: none;
display: flex;
justify-content: space-around;
color: rgb(13, 24, 24);
background-color: antiquewhite;
height: 80px;
width: 100%;
}
li{
    margin-top: 0.5%;
}
/* @media(max-width: 400px){
ul{
    width: 50%;
    color: blue;
}

} */
#para{
    /* width: 50%; */
    color: antiquewhite;
    background-color: rgb(30, 30, 14);
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#footer_list{
list-style: none;
display: flex;
justify-content: center;
color: rgb(13, 24, 24);
background-color: antiquewhite;
height: 80px;
width: 100%;
/* align-items: center; */
}

#footer_list li{
    display: flex;
    width: 20%;
}

.logo-container {
    width: 200px; /* Adjust the size of the container to fit your logo */
    height: 200px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  @keyframes rotateTwoTimes {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(720deg); /* 2 full rotations (360 degrees * 2) */
    }
  }
  
  .logo-container.rotating {
    animation: rotateTwoTimes 4s ease-out; /* 4 seconds for 2 rotations */
  }
  